<div class="row">
    <div class="col-xs-8 col-xs-offset-2">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center">
                    <h2><span class="glyphicon glyphicon-repeat"></span> Edição de usuário</h2>
                </div>
            </div>
        </div>

        <hr />
        <form name="form" novalidate>
            <div class="row">
                <div class="col-xs-12">
                    <h3>Dados pessoais<small> informações relacionados ao usuario</small></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div ng-class="{'has-error': form.nome.$invalid && form.nome.$touched}">
                                    <label>Nome</label>
                                    <input class="form-control" placeholder="Nome" ng-model="usuario.Nome" name="nome" required />
                                    <p ng-show="form.nome.$invalid && form.nome.$touched" class="text-danger">Campo obrigatório</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div ng-class="{'has-error': form.email.$invalid && form.email.$touched}">
                                    <label>Email</label>
                                    <input class="form-control" placeholder="Email" ng-model="usuario.Email" name="email" required />
                                    <p ng-show="form.email.$invalid && form.email.$touched" class="text-danger">Campo obrigatório</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6" ng-class="{'has-error': form.cpf.$invalid && form.cpf.$touched}">
                            <label>CPF</label>
                            <input class="form-control" type="text" ng-model="usuario.CPF" name="cpf" placeholder="CPF" maxlength="14" required ui-cpf />
                            <p ng-show="form.cpf.$invalid && form.cpf.$touched && form.cpf.$error.required" class="text-danger small">Campo obrigatorio</p>
                            <p ng-show="(form.cpf.$invalid && form.cpf.$touched && form.cpf.$error.invalidCPF) && form.cpf.$error.required != true" class="text-danger small">CPF inválido.</p>
                        </div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                <div ng-class="{'has-error': form.data.$invalid && form.data.$touched}">
                                    <label>Data Nascimento</label>
                                    <input class="form-control" type="date" placeholder="Data Nascimento" ng-model="usuario.DataNascimento" name="data" required />
                                    <p ng-show="form.data.$invalid && form.data.$touched" class="text-danger">Campo obrigatório</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-xs-12">
                    <h3>Redifinir senha</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-4">
                    <div ng-class="{'has-error': form.senha.$invalid && form.senha.$touched || valida}">
                        <label>Senha antiga</label>
                        <input class="form-control" type="password" ng-model="usuario.Senha" name="senha" placeholder="Senha antiga" required>
                        <p ng-show="form.senha.$invalid && form.senha.$touched" class="text-danger">Campo obrigatório</p>
                        <p ng-show="valida" class="text-danger">{{senhaAntiga}}</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div ng-class="{'has-error': form.novaSenha.$invalid && form.novaSenha.$touched}">
                        <label>Digite a nova senha</label>
                        <input class="form-control" ng-blur="validaSenha()" type="password" ng-model="usuario.NovaSenha" placeholder="Nova Senha" name="novaSenha" >
                        <p ng-show="form.novaSenha.$invalid && form.novaSenha.$touched" class="text-danger">Campo obrigatório</p>
                    </div>
                </div>
                <div class="col-xs-4">
                    <div ng-class="{'has-error': form.confirmeSenha.$invalid && form.confirmeSenha.$touched || validacao}">
                        <label>Confirme a nova senha</label>
                        <input class="form-control" ng-blur="validaSenha()" type="password" ng-model="confirmaSenha" placeholder="Confirmar Senha" name="confirmeSenha" ng-required="usuario.NovaSenha">
                        <p ng-show="form.confirmeSenha.$invalid && form.confirmeSenha.$touched" class="text-danger">Campo obrigatório</p>
                        <p ng-show="validacao" class="text-danger">A senha está diferente</p>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top:20px;">
                <div class="col-xs-12">
                    <div class="pull-right">
                        <button class="btn corAzul" ng-disabled="!form.$valid" ng-click="update()">Salvar</button>
                        <a class="btn btn-default" href="#/home">Cancelar</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>